@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

$pmry-color: #8454ea; 
$scnd-color: #eaa955; 

a {
	text-decoration: none;
	color: white;
}

html, body {
	font-family: "Quicksand", sans-serif;
	margin: 0;
	padding: 0;
}

select {
	display: block;
	margin-bottom: 1vh;
}

.navbar {
	border-bottom: 1px solid;
	color: white;
	background: $pmry-color;
	display: flex;
	& h1 { 
		background: white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 7;
	}
	& ul {
		font-size: 18px;
		margin-left: 70%;
		list-style-type: none;
		display: flex;
		flex-direction: row;
		& li {
			margin-left: 3vh;
		}
	}
}

.cart_qty {
	background-color: $scnd-color; 
	color: white;
	margin: 5px;
	border-radius: 10%;
	padding: 5px 10px 5px 10px;
}

.cart_body {
	display: none;
	opacity: 0;
	&--active {
		animation: 0.5s cart;
		transition: opacity 3s ease-out;
		position: absolute;
		border: 2px solid black;
		width: 30%;
		right: 5%;
		margin-top: 2%;
		background-color: white;
		opacity: 1;
		display:block;
		& table {
			color: white;
			background-color: $pmry-color;
			width: 100%;
		}
	}
	
}


.products {
	background: #fff8f1;
	display: flex;
	flex-wrap: wrap;
	padding-left: 15%;
}

.cart_page {
	width: 80%;
	margin: auto;
	color: black;
	& th, tr, td {
		border: 2px $pmry-color solid;
	}
	& td {
		width: 20%;
		text-align: center;
	}
	& .cart_img {
		width: 100%;
	}
	& .btn_incr, & .btn_decr {
		border: none;
		border-radius: 50%;
		color: white;
		font-size: 20px;
	}
	& .btn_incr {
		background-color: #4d91ff;
	}
	& .btn_decr {
		background: #fa484e;
	}
}

.order {
	width: 50%;
	margin: auto;
	&_form {
		display: flex;
		flex-direction: column;
		& input {
			margin-bottom: 2%; 
		}
	}
}


.product {
		color: white;
		transition: 5s linear all;
		background: -webkit-radial-gradient(left top,$scnd-color,$pmry-color);
		border: 2px solid $scnd-color;
		border-radius: 3%;
		margin: 4%;
		padding: 1%;
		flex: 0 0 33%;
		&_img {
			display: block;
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
		&_price {
			margin-bottom: 2%;
		}
		&_see, &_add-cart {
			border: none;
			color: white;
			border-radius: 8px;
			padding: 5px;
			font-size: 16px;
		}
		&_see {
			background-color: #8454ea;
			margin-right: 5px;
		}
		&_add-cart {
			background-color: #eaa955;
		}
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;

}

@keyframes cart {
	0% {opacity: 0}
	100% {opacity: 1;}
}

#spinner {
	height: 100vh;
	position: relative;
	&::before {
		border: solid 5px black;
		border-bottom-color: white;
		border-radius: 50%;
		content: "";
		height: 40px;
		left: 50%;
		position: absolute;
		top: 40%;
		transform: translate3d(-50%, -50%, 0);
		width: 40px;
		animation: 2s linear infinite spinner;
	}
	&::after {
		content: "Nous cherchons les produits...";
		position: absolute;
		top: 47%;
		left: 42.5%;
	}
}

@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg)
	}
}
